@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Website 2 Test</h1>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Pages</h2>

        <ol>
            <li>
                <a href="~/Lipsum5.aspx">~/Lipsum5.aspx</a>
            </li>
            <li>
                <a href="~/Lipsum9.aspx">~/Lipsum9.aspx</a>
            </li>
            <li>@Html.ActionLink("Lipsum5", "Lipsum5", "Text")</li>
            <li>@Html.ActionLink("Lipsum9", "Lipsum9", "Text")</li>
            <li>
                <a href="~/ProductPage.aspx">~/ProductPage.aspx</a>
            </li>
            <li>
                <a href="~/CategoryPage.aspx">~/CategoryPage.aspx</a>
            </li>
        </ol>
    </div>
</div>
